[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
pillow = "*"
django-phonenumber-field = "*"
django-rest-swagger = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"

[dev-packages]
